<!DOCTYPE html>
<html>
	<head>
		<title> 写文章 </title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'bulma/css/bulma.css' %}">
		<link rel="stylesheet" href="{% static 'bulma/my_css/my.css' %}">
		<link rel="stylesheet" href="{% static 'imga/img/css/all.css' %}">
		<script src='{% static 'ckeditor/ckeditor-init.js'%}'></script>
		<script src='{% static 'ckeditor/ckeditor/ckeditor.js'%}'></script>
	</head>
	<body>
{% block content %}
<div class="left">
    <form method="post" action="/">
        {% csrf_token %}
        {{form.as_p}}
    </form>
</div>
{% endblock %}
	</body>
</html>
