<!DOCTYPE html>
<html>
	<head>
		<title> 写文章 </title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'bulma/css/bulma.css' %}">
		<link rel="stylesheet" href="{% static 'bulma/my_css/my.css' %}">
		<link rel="stylesheet" href="{% static 'imga/img/css/all.css' %}">
	</head>
	<body>
		{{ code }}
		<div class="left">
			<form method="post">
				{% csrf_token %}
				{{ forms.media }}
				{{ forms }}
				<button class="button is-primary">提交</button><br/>
			</form>
		</div>
	</body>
</html>
