<!DOCTYPE html>
<html>
	<head>
		<title> 全部文章 </title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'bulma/css/bulma.css' %}">
		<link rel="stylesheet" href="{% static 'bulma/my_css/my.css' %}">
		<link rel="stylesheet" href="{% static 'imga/img/css/all.css' %}">
	</head>
	<body>
		<br/>
		{% for post in page_obj %}
			<div class="tile is-ancestor" align='center'>
				<div class="tile is-5 is-vertical is-parent" align='center'>
					<div class="tile is-child box">
						<a href='{% url 'main:detailed' post.id %}' class='title'>{{ post.title }}</a>
						<p>作者:{{ post.owner.name }}</p>
						<p>{{ post.desc|truncatechars:15 }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
			<nav class="pagination" role="navigation" aria-label="pagination">
				{% if page_obj.has_previous %}
					<a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">上一页</a>
				{% endif %}
				{% if page_obj.has_next %}
					<a class="pagination-next" href="?page={{ page_obj.next_page_number }}">下一页</a>
				{% endif %}
				<ul class="pagination-list">
					<li><a class="pagination-link is-current" aria-label="Page 1" aria-current="page">{{ page_obj.number }}</a></li>
					<li><span class="pagination-ellipsis">&hellip;</span></li>
				{% if page_obj.has_previous %}
					<li><a class="pagination-link" aria-label="Goto page {{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
				{% endif %}
					<li><a class="pagination-link" aria-label="Page 1" aria-current="page">{{ page_obj.number }}</a></li>
				{% if page_obj.has_next %}
					<li><a class="pagination-link" aria-label="Goto page {{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
				{% endif %}
				</ul>
			</nav>
		<p> 作者不想挡住她请各位忍耐一下 </p>
	</body>
</html>
