<!DOCTYPE html>
<html>
	<head>
		<title> 全部文章 </title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'bulma/css/bulma.css' %}">
		<link rel="stylesheet" href="{% static 'bulma/my_css/my.css' %}">
		<link rel="stylesheet" href="{% static 'imga/img/css/all.css' %}">
	</head>
	<body>
		<br/>
		{% for post in post_list%}
			<div class="tile is-ancestor" align='center'>
				<div class="tile is-5 is-vertical is-parent">
					<div class="tile is-child box">
						<p class='title'>{{ post.title }}</p>
						<p>作者:{{ post.owner.name }}</p>
						<p>{{ post.desc|truncatechars:15 }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
		<p> 作者不想挡住她请各位忍耐一下 </p>
	</body>
</html>
