<!DOCTYPE html>
<html>
	<head>
		<title> 用户中心 </title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'bulma/css/bulma.css' %}">
		<link rel="stylesheet" href="{% static 'bulma/my_css/my.css' %}">
		<link rel="stylesheet" href="{% static 'imga/img/css/all.css' %}">
		<link rel='stylesheet' href="{% static 'spectre/dist/spectre-exp.css' %}">
	</head>
	<body>
		<br/>
		<div align='center'>
			<img src='{{ MEDIA_URL}}{{ user.icon }}'width="200">
		</div>
		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<article class="tile is-child box">
					<a href='{% url 'main:my_article' %}' class='tile'> 我的文章 </a>
					<a href='#' class='tile'> 最新评论 </a>
					<a href='{% url 'main:author' %}' class='tile'> 发表文章 </a>
					<a href="{% url 'main:logout' %}" class='tile'> 注销 </a>
					<a href='#' class='tile'> ....... </a>
				</article>
			</div>
			<div class="tile is-parent">
				<article class="tile is-child">
					<hr width=600 style='background-color:blue;height:1px;border:none;'>
					<article class="tile is-child box">
						<div class='tile'>
							用户名称:{{ user.name }}
						</div>
						<div class="tile">
							个人简介:{{ user.user_info }}
						</div>
						<div class="tile">
							邮箱地址:{{ user.email }}
						</div>
						<div class="tile">
							个性签名:{{ user.gexing }}
						</div>
					</article>
				</article>
			</div>
			<div class="tile is-parent">
				<article class="tile is-child box">
					<p class="title">CPU使用率</p>
					<p class="subtitle">With some content</p>
					<div class="content">
					</div>
				</article>
			</div>
		</div>
	</body>
</html>
