<!DOCTYPE html>
<html>
	<head> 
		{% load static %}
		<link rel="shortcut icon" href="{% static 'imga/favicon.ico' %}" type="image/x-icon" />
		<title> 首页 </title>
		<link rel="stylesheet" href="{% static 'bulma/css/bulma.css' %}">
		<link rel="stylesheet" href="{% static 'bulma/my_css/my.css' %}">
		<link rel="stylesheet" href="{% static 'imga/img/css/all.css' %}">
	</head>
	<body>
		<nav class="breadcrumb" aria-label="breadcrumbs">
			<ul>
				<li><a href="#">Bulma</a></li>
				<li><a href='https://github.com/Life-Mentor/cs'><i class="fas fa-brands fa-github"></i>&ensp;Github</a></li>
			</ul>
		</nav>
		<div align='center'>
			<figure class="image is-128x128">
				<img class="is-rounded" src='{% static 'imga/default.jpg' %}' alt='defluat' width=224>
			</figure>
			<h1 style=" font-size:30px"> 初識网络学习 </h1>
		</div>
		<br/>
		<div class="container">
			<div class="notification box is-fluid">
				<a class='button is-primary' href="{% url 'secondary:home'%}">个人主页</a>
				<a class='button is-primary' href="{% url 'main:article'%}">所有文章</a>
				<a class='button is-primary' href="{% url 'secondary:login'%}"> 登录 </a>
				<a class='button is-primary' href="{% url 'secondary:reirster'%}"> 注册 </a>
				<a class='button is-primary' href="{% url 'main:suggestion'%}"> 提建议 </a>
				<audio loop='loop' autoplay="autoplay" src='{% static 'audio/sanye.mp3' %}'type="audio/mp3" controls="controls"> 三叶 </audio>
				<a class='button is-primary is-pulled-right' href='{% url 'main:aboutus' %}'> 关于我们 </a>
			</div>
		</div>
	</body>
</html>
