<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<link rel="stylesheet" href="{% static 'bulma/css/bulma.css' %}">
		<link rel="stylesheet" href="{% static 'bulma/my_css/my.css' %}">
		<link rel="stylesheet" href="{% static 'imga/img/css/all.css' %}">
		<link rel='stylesheet' href="{% static 'spectre/dist/spectre-exp.css' %}">
	</head>
	<body>
		<br/>
		<div class="tile is-ancestor">
			<div class="tile is-vertical is-8">
				<div class="tile">
					<div class="tile is-parent is-vertical">
						<article class="tile is-child notification is-primary">
							<p class="title">吐丝奶芙</p>
							<p class="subtitle">熟练Linux系统基础运维:部署服务(ftp,ssh,telnet,mysql,smtp)</p>
							<p class='subtitle'>2023年黑龙江省职业院校技能大赛暨国赛选拔赛网络安全赛项</p>
							<p class='subtitle'>初级脚本老子</p>
						</article>
						<article class="tile is-child notification is-warning">
							<p class="title">...tiles</p>
							<p class="subtitle">Bottom tile</p>
						</article>
					</div>
					<div class="tile is-parent">
						<article class="tile is-child notification is-info">
							<p class="title">人生导师</p>
							<p class="subtitle">网站开发者，全干工程师</p>
							<figure class="image is-2by2">
								<img src='{% static 'imga/i.jpg' %}'width="200">
							</figure>
						</article>
					</div>
				</div>
				<div class="tile is-parent">
					<article class="tile is-child notification is-danger">
						<p class="title">Wide tile</p>
						<p class="subtitle">Aligned with the right tile</p>
						<div class="content">
						</div>
					</article>
				</div>
			</div>
			<div class="tile is-parent">
				<article class="tile is-child notification is-success">
					<div class="content">
						<p class="title">吐丝奶芙</p>
						<p class="subtitle">熟练Linux系统基础运维:部署服务(ftp,ssh,telnet,mysql,smtp)</p>
						<p class='subtitle'>2023年黑龙江省职业院校技能大赛暨国赛选拔赛网络安全赛项</p>
						<p class='subtitle'>初级脚本老子</p>
						<div class="content">
							<figure class="image is-2by2">
								<img src='{% static 'imga/i.jpg' %}'width="200">
							</figure>
						</div>
					</div>
				</article>
			</div>
		</div>
	</body>
</html>
