<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<link rel="stylesheet" href="{% static 'bulma/css/bulma.css' %}">
		<link rel="stylesheet" href="{% static 'bulma/my_css/my.css' %}">
		<link rel="stylesheet" href="{% static 'imga/img/css/all.css' %}">
		<link rel='stylesheet' href="{% static 'spectre/dist/spectre-exp.css' %}">
	</head>
	<body>
		<br/>
		<div class="tile is-ancestor">
			<div class="tile is-7 is-parent"> 
				<!-- is-vertical -->
				<div class="tile is-child box">
        				<article class="tile is-child notification is-primary">
						<p class="title">人生导师就是个吊毛</p>
						<figure class="image is-128x128">
							<img class="is-rounded" src='{% static 'imga/i.jpg' %}' alt='defluat' width=224>
						</figure>
					</article>
				</div>
				<div class="tile is-child box">
        				<article class="tile is-child notification is-primary">
						<p class="title">人生导师就是个吊毛</p>
						<figure class="image is-128x128">
							<img class="is-rounded" src='{% static 'imga/i.jpg' %}' alt='defluat' width=224>
						</figure>
					</article>
				</div>
				<div class="tile is-child box">
        				<article class="tile is-child notification is-primary">
						<p class="title">人生导师就是个吊毛</p>
						<figure class="image is-128x128">
							<img class="is-rounded" src='{% static 'imga/i.jpg' %}' alt='defluat' width=224>
						</figure>
					</article>
				</div>
				<div class="tile is-child box">
        				<article class="tile is-child notification is-primary">
						<p class="title">人生导师就是个吊毛</p>
						<figure class="image is-128x128">
							<img class="is-rounded" src='{% static 'imga/i.jpg' %}' alt='defluat' width=224>
						</figure>
					</article>
				</div>
				<div class="tile is-child box">
        				<article class="tile is-child notification is-primary">
						<p class="title">人生导师就是个吊毛</p>
						<figure class="image is-128x128">
							<img class="is-rounded" src='{% static 'imga/i.jpg' %}' alt='defluat' width=224>
						</figure>
					</article>
				</div>
			</div>
		</div>
	</body>
</html>
